.user {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;

    &__details {
        margin-left: 15px;
        h2 {
            font-size: 1.16rem;
        }
    }
}